<li class="menu-item-has-children">
    <a href="#">Categorías</a>
    <ul class="sub-menu">
        <li><a href="index.html">Entrenimiento</a></li>
        <li><a href="home-2.html">Política</a></li>
        <li><a href="home-3.html">Economía</a></li>
        <li><a href="home-3.html">Deportes</a></li>
        <li><a href="home-3.html">Tecnología</a></li>
        <li><a href="home-3.html">Opinión</a></li>
        <li><a href="home-3.html">Digital HUB</a></li>
        <li><a href="home-3.html">Ambiente</a></li>
        <li><a href="home-3.html">Educación</a></li>
        <li><a href="home-3.html">Salud</a></li>
        <li><a href="home-3.html">Tendencia</a></li>
    </ul>
</li>
<li class="menu-item">
    <a href="/costa-rica-tendra-su-propio-album-dedicado-a-parques-nacionales">Contactenos</a>
</li>