<li><a href="#" target="_blank"><i class="mdicon mdicon-facebook"></i></a></li>
<li><a href="#" target="_blank"><i class="mdicon mdicon-twitter"></i></a></li>
<li><a href="#" target="_blank"><i class="mdicon mdicon-instagram"></i></a></li>