<div class="atbs-section-sidebar js-sticky-sidebar">
    <div class="widget atbs-atbs-widget atbs-widget-author-box">
        <div class="widget-wrap" style="overflow:hidden;border-radius:6px;">
            <img src="<%= asset_path 'temp/ad.jpeg' %>" alt="">
        </div>
    </div>
    <div class="atbs-widget-social-counter widget atbs-atbs-widget">
        <div class="widget-wrap">
            <div class="widget__inner">
                <div class="author-box author-box-vertical atbs-section-module-contact">
                    <div class="author-box__text">
                        <div class="author-name meta-font">
                            <a class="entry-author__name" rel="author" title="designUTD" href="./author.html">Newsletter</a>
                        </div>
                        <div class="author-bio">
                            Subscribite a nuestro newsletter para recibir las últimas noticias.
                        </div>
                        <form class="author-info contact-form" style="padding-left:0px">
                            <input id="email" class="form-control-custom" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" required="required" placeholder="Correo">
                            <input name="submit" type="submit" id="submit" class="submit btn" value="Subscribirme" style="margin-top:10px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>